video {
    transform: rotateY(180deg); 
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}

#peerVideo:hover {
    opacity: 0.6;
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myspeech {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(177, 165, 165, 0.1);
    padding: 1rem 2rem 1rem 5rem;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
  }
  
  .otherspeech {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(177, 165, 165, 0.1);
    padding: 1rem 2rem 1rem 5rem;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
  }
  
  p {
    margin: 0 0 3rem;
  }
  .words:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  }